*{
    margin:0px;
    padding: 0px;
    font-family: "Titillium Web", sans-serif;
    font-weight:500;
}
body{
    background-color: #121212;
    height: 100vh;
}
.main{
    display: flex;
    height:59px;
    width:100%;
    position: fixed;
    background-color: black;
    justify-content: center;
    border-bottom:1px solid #00ff00;
    z-index:1;
}
.header{
    width:78%;
}
.header-two{
    display: none;
}
.header ul{
    height:59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    list-style-type: none;
    width:100%;
}
.header ul li{
    text-align: center;
    color:#BBBBBB;      
    font-size:1rem;
}
.header img{
    height:35px;
    width:35px;
}
.header ul .item:hover{
    color:white;
    border-bottom:1px solid white;
}
.header ul li i:hover{
    color:white;
}
.txt{
    position:relative;
    top:60px;
    background-color: #555555;
    height: 44px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt p{
    color:#EEEEEE;
    font-size:1rem;
}
.main-content{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: relative;
    top:60px;
    padding-bottom:60px;
}
.main-content .big-img{
    position: relative;
    margin-bottom: 10px;
}
.big-img .text{
    position:absolute;
    top:10%;
    color:white;
    width:100%;
    text-align: center;
}
.big-img .text h1{
    font-size: 50px;
    font-weight: 600;
}
.big-img .text p{
    font-size: 25px;
    font-weight: 450;
}
.big-img img{
    width:100%;
    height:700px;
}
#spc h1{
    color:black;
    font-size: 60px;
}
#spc p{
    color: black;
}
.main-content .sml-img{
    position: relative;
    margin-bottom: 10px;
    width: 49.5%;
}
.sml-img .text{
    position:absolute;
    top:10%;
    color:white;
    width:100%;
    text-align: center;
}
.sml-img .text h1{
    font-size: 40px;
    font-weight: 600;
}
.sml-img .text p{
    font-size: 20px;
    font-weight: 450;
}
.sml-img img{
    width:100%;
    height:570px;
}
.main-footer{
    width:100%;
    top:60px;
    height:400px;
    background-color:#111111;
}
.footer{
    width:100%;
    height:350px;
    background-color:#111111;
    display: flex;
    justify-content: space-evenly;
    border-bottom:2px soild rgb(244, 17, 17)e;

}
.footer ul li{
    list-style-type: none;
    font-size:12px;
    line-height: 30px;
    color:#999999;

}
.footer ul li:hover,
.footer ul li:first-child:hover {
    color: white;
}
.footer ul p{
    color:white;
    font-size:14px;
}
.footer ul{
    display: inline-block;
    
}
.footer .slogan li{
    color:#00ff00;
    font-size: 1rem;
}
.footer .slogan{
    margin-left:3rem;
}
.footer ul li i{
    font-size: 25px;
}

@media (min-width:767px) and (max-width:1200px){
    .header{
        display:none;
    }
    .header-two{
        width:98%;
        display:flex;
    }
    .header-two ul{
        display:flex;
        height:59px;
        justify-content: space-between;
        align-items: center;
        background-color:black;
        list-style-type: none;
        width:100%;   
    }
    .header-two img{
        height:35px;
        width:35px;
    }
    .header-two ul li{
        text-align: center;
        color:#BBBBBB;      
        font-size:1rem;
    }
}







